mat-snack-bar-container{
  padding-top: 20%;
}

.message{
  font-size: 18px;
  height: 24px;
  vertical-align: top;
  font-weight: 600;
  align-content: center;
}

.mat-icon{
  height: 16px;
  width: 16px;
  vertical-align: bottom;
  padding-right: 4px;
}

.material-icons{
  font-size: 16px;
}
